* {
    margin:0px;
    font-family: 'Oswald', sans-serif;
    list-style:none;
    text-decoration:none;
    transition:0.9s;
    text-align:justify;
}

body {
    background-color:wheat;
}

.menu-1 {
  border:2px solid black;
  background-color:rgb(7, 7, 20);
  position:fixed;
  width:100%;
}

.menu-1 h1{
   color:white;
   margin-left:17px;
}

.menu-1 li{
   padding-bottom:17px;
  
}

#listaULmenu001 {
    text-align:center;
}

#listaULmenu001 li {
  display:inline-block;  
}

#listaULmenu001 a {    
    color:white;
    margin-left:77px;
    margin-right:11px;    
}

#ess:hover {
 color:gray;
 transition:0.3s;
}

#tdsq:hover {
 color:gray;
 transition:0.3s;
}
#tech:hover {
    color:grey;
    transition:0.3s;
}

#menu-lateral001 {
    position:fixed;
} 

#menu-lateral001:hover {    
   color:gray;
   transition:0.3s;
}

#menulateral001-effect {
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.438);
    position:fixed;
    padding-left:7px;
    width:207px;
    color:white;
    height:37px;     
    background-color:rgb(7, 7, 20);
   
}

#menulateral001-effect:hover {
   height:227px;
   border:2px solid black;
   transition:0.2s;  
   width:207; 
   color:yellow;
   box-shadow:4px 4px 4px rgba(0, 0, 0, 0.459);
}

#ULli001menulateralleft001 {
    display:none;
}

#menulateral001-effect:hover  #ULli001menulateralleft001{
    display:block;    
}

#container {
    display:grid;
    height:200px;
    grid-template-columns:4fr 1fr 1fr;
    grid-auto-rows:300px;
    grid-template-areas: 
    'box1 box2 box2'
    'box3 box2 box2'
    'box3 box4 box4'
    'box3 box4 box4'
    'box5 box5 box5'
    'box6 box6 box6'
    'box8 box7 box7'
    'box9 box7 box7'
    'box9 box10 box10'
    'box11 box11 box11'
    ;
}

.box {  
    border:2px solid black;
    outline:2px solid red;
    margin:7px;
    background-color:white;
    padding:7px;
}

#box1 {
    grid-area:box1;
    margin-top:77px;
    margin-left:27px;    
}

#box2 {
    grid-area:box2;
    margin-top:77px;
    margin-right:27px;
}

#box3 {
    grid-area:box3;
    margin-left:27px;
}

#box4 {
    grid-area:box4;
    margin-right:27px;
}

#box5 {
    grid-area:box5;
    margin-left:27px;
    margin-right:27px;
}

#box6 {
    grid-area:box6;
    margin-left:27px;
    margin-right:27px;
}

#box7 {
    grid-area:box7;   
    margin-right:27px;
}

#box8 {
    grid-area:box8;
    margin-left:27px;
}

#box9 {
    grid-area:box9;
    margin-left:27px;
}

#box10 {
    grid-area:box10;
    margin-right:27px;
   
}
#box11 {
    grid-area:box11;
    margin-left:27px;
    margin-right:27px;
    margin-bottom:77px;
}

.box1a {
    display:none;
}

@media screen and (max-width:957px) {
    #menulateral001-effect {
        box-shadow:4px 4px 4px rgba(0, 0, 0, 0.438);
        position:fixed;
        padding-left:7px;
        width:131px;
        color:white;
        height:37px;     
        background-color:rgb(7, 7, 20);       
    }

    .menu-1 h1{
        color:white;
        margin-left:7px;
        font-size:17px;
     }

    #container001 {
        display:grid;
        height:77vh;       
        grid-template-columns:1fr ;
        grid-auto-rows:377px; 
        margin-bottom:77px;
        grid-template-areas: 
        
        'box33 box33'
        'box44 box44'
        'box55 box55'
        'box66 box66'
        'box77 box77'
        'box88 box88'
        'box99 box99'
        
       ;
    }

    .box {
      display:none;
    }

    .box1a {  
        border:2px solid black;
        outline:2px solid red;
        margin:1px;
        background-color:white;
        padding:7px;
        display:block; 
        text-align:center;
        font-size:22px;
    }
    
    #box11 {
        grid-area:box11;
        margin-top:77px;        
    }
    
    #box22 {
        grid-area:box22;
        margin-top:77px;
        margin-right:7px;
      
    }
    
    #box33 {
        grid-area:box33;
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;
    }
    
    #box44 {
        grid-area:box44;
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;        
    }
    
    #box55 {
        grid-area:box55;
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;
    }
    
    #box66 {
        grid-area:box66;
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;
    }
    
    #box77 {
        grid-area:box77;   
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;
    }
    
    #box88 {
        grid-area:box88;
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;
    }
    
    #box99 {
        grid-area:box99;
        margin-bottom:77px;
        margin-left:27px;
        margin-right:27px;
    }
    
    #box100 {
        grid-area:box100;       
    }

    
}